/* THEMES COMPAT */

:root {
    --gm_primary_text: #000000;
    --gm_secondary_text: #505050;
    --gm_window_color: #009688;
    --gm_window_text: #ffffff;
    --gm_primary_background: #e2e2e2;
    --gm_behind_lobby_background: #1a2733;
    --gm_list_headers: #a8bcc0;
    --gm_table_color: #c1cdd2;
    --gm_table_alt_color: #d2dbde;
    --gm_table_hover_color: #aac5d7;
    --gm_button_text: #ffffff;
    --gm_button_primary_color: #795548;
    --gm_button_secondary_color: #4b252b;
    --gm_button_top_bar_color: #273749c7;
    --gm_scrollbar_thumb: #b8b8b8;
}

/* SPLASH SCREEN */

@keyframes gm_gearspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.gm_splashcontainer {
    display: flex;
    position: absolute;
    top: -500px;
    left: 0;
    z-index: 99;

    margin: 30px;
    padding: 20px;

    background-color: #00000055;
    border-radius: 15px;
    transition: top 2s;
}

.gm_splashlogo {
    width: 75px;
    height: 75px;
}

.gm_splashgear {
    position: relative;
    width: 45px;
    height: 45px;

    background-image: url(images/gmmgear.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
}

.gm_splashgear.one {
    top: 5px;
    animation: gm_gearspin 2s linear infinite;
}

.gm_splashgear.two {
    left: 25px;
    bottom: 15px;

    animation: gm_gearspin reverse 2s linear infinite;
    animation-delay: 1000ms;
}

.gm_splashtext {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 15px;
}

.gm_splashtitle {
    color: #fff;
    font-family: 'futurept_demi_oblique';
    font-size: 36px;
}

.gm_splashdesc {
    display: flex;
    justify-content: space-between;
    
    color: #fff;
    font-family: 'futurept_book';
    font-size: 16px;
}

/* CONFIG BUTTON */

#pretty_top_settings {
    border-bottom: 2px solid transparent;
}

#pretty_top_gmmaker {
    width: 57px;
    height: 34px;

    position: absolute;
    right: 58px;
    top: 35px;
    background-color: var(--gm_button_top_bar_color);
}

#pretty_top_gmmaker::after {
    content: '';
    display: block;
    background-image: url(images/gmmlogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    width: 57px;
    height: 34px;
}

/* GAME MODE EDITOR */

#gmeditor {
    position: absolute;
    width: 100%;
    height: 100%;
}

#gmeditorwindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    margin: 0;
    padding-top: 34px;
    background-color: var(--gm_primary_background);
    border-radius: 8px 8px 4px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gmeditor_helptext {
    color: var(--gm_primary_text);
    font-family: 'futurept_b1';
    font-size: 15px;
    line-height: 25px;
    flex-grow: 1;
    text-align: center;
}

#gmeditor_buttoncontainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-content: stretch;
}

#gmeditor_leftbuttons {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    margin: 5px;
}

#gmeditor_rightbuttons {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin: 5px;
}

.gmeditor_iconbutton {
    width: 28px;
    height: 24px;
    display: inline-block;
    margin: 0 2px;
}

.gmeditor_iconbutton::after {
    content: '';
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 24px;
}

#gmeditor_newbutton::after {
    background-image: url(images/gmenew.png);
}

#gmeditor_dbbutton::after {
    background-image: url(images/gmecloud.png);
}

#gmeditor_importbutton::after {
    background-image: url(images/gmeimport.png);
}

#gmeditor_exportbutton::after {
    background-image: url(images/gmeexport.png);
}

#gmeditor_backupsbutton::after {
    background-image: url(images/gmebackups.png);
}

#gmeditor_changebasebutton.jsIcon::after {
    background-image: url(images/gmejavascript.png);
}

#gmeditor_changebasebutton.blockIcon::after {
    background-image: url(images/gmeblockly.png);
}

#gmeditor_settingsbutton::after {
    background-image: url(images/gmesettings.png);
}

#gmeditor_savebutton::after {
    background-image: url(images/gmesave.png);
}

#gmeditor_closebutton::after {
    background-image: url(images/gmeclose.png);
}

.gmeditor_filter::after {
    background-image: url(images/gmefilter.png);
    background-size: 18px;
}

.gmeditor_filter.nearest::after {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.gmeditor_filter.bilinear::after {
    image-rendering: optimizeQuality;
}

.gmeditor_download::after {
    background-image: url(images/gmedownload.png);
}

.gmeditor_delete::after {
    background-image: url(images/gmeclose2.png);
}

#gmworkspacearea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1;
}

#gmblocklydiv {
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
}

#gmmonacodiv {
    z-index: 999;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
}

/* LOBBY MODS */

#settingsContainer, #leaveconfirmwindowcontainer, #hostleaveconfirmwindowcontainer {
    z-index: 9999;
}

.modebuttoncontainer {
    display: flex;
    position: absolute;
    right: 15px;
    bottom: 55px;
    width: 116px;
}

#newbonklobby_modebutton {
    width: calc(50% - 62px);
    right: 55px;
}

#newbonklobby_modebutton.gm_withbonkhost {
    width: calc(100% - 42px);
    left: 0;
    bottom: -30px;
    position: absolute !important;
}

#gmeditor_openbutton {
    position: absolute;
    right: 15px;
    bottom: 55px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

#gmeditor_openbutton::after {
    width: 30px;
    height: 30px;
    background-image: url(images/gmmlogo.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#gm_basemodetext {
    display: inline-block;
    color: var(--gm_secondary_text);
    font-size: 14px;
    pointer-events: none;
    margin-left: 5px;
}

/* DIALOG CLASSES */

.gm_behindblocker {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    outline: 3000px solid rgba(0,0,0,0.30);
    width: 1px;
    height: 1px;
}

.gm_dialogwindowcontainer {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 999999;
    transition: opacity 130ms ease-out;
}

.gm_dialogwindow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    background-color: var(--gm_primary_background);
    color: var(--gm_primary_text);
    margin: auto;
    font-family: "futurept_b1";
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gm_dialogtopbar {
    background-color: var(--gm_window_color);
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: var(--gm_window_text);
    font-family: "futurept_b1";
    text-align: center;
    font-size: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.gm_dialogtext {
    color: var(--gm_primary_text);
    text-align: center;
    left: 0;
    right: 0;
    top: 53px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.gm_dialogbuttoncontainer {
    display: flex;
    align-content: stretch;
    width: 90%;
    justify-content: space-around;
}

.gm_dialogbuttoncontainer div {
    padding: 5px;
    margin: 10px;
    max-width: 150px;
    min-width: 100px;
    flex-grow: 1;
}

.gm_dialogcode {
    background-color: var(--gm_table_color);
    padding: 10px;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    user-select: text;
    text-align: left;
}

.gm_dialogoptions {
    color: var(--gm_primary_text);
    text-align: justify;
    left: 0;
    right: 0;
    top: 53px;
    width: fit-content;
    margin: 20px 20px 10px 20px;
}

.gm_dialogtextfield {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    background: #fdfdfd;
    border: 1px solid #bdbdbd;
    color: #4e4e4e;
    width: 100%;
    min-width: 300px;
    height: 30px;
    padding-right: 4px;
    margin-top: 3px;
    resize: none;
}

.gm_horizontalflex {
    display: flex;
    justify-content: space-between;
}

.gm_horizontalsep {
    background-color: #00000022;
    width: 3px;
    margin: 20px;
}

.gm_dialoglist {
    display: flex;
    width: 400px;
    height: 290px;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.gm_bartabs {
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: 30px;
    display: flex;
}

.gm_bartabs span {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--gm_button_primary_color);
    bottom: 0;
}

.gm_tabbutton {
    color: var(--gm_button_text);
    font-family: futurept_b1;
    text-align: center;
    background-color: var(--gm_button_primary_color);
    border-radius: 5px 5px 0 0;
    margin-left: 5px;
    padding: 0px 20px;
    line-height: 2;
    pointer-events: none;
}

.gm_tabbutton.inactive {
    background-color: var(--gm_button_secondary_color);
    cursor: pointer;
    pointer-events: all;
}

.gm_listheader {
    background-color: var(--gm_list_headers);
    border-bottom: 1px solid #00000012;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    font-size: 18px;
    pointer-events: none;
}

.gm_listitem {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--gm_table_color);
}

.gm_listitem.small {
    padding: 5px 10px;
}

.gm_listitem:nth-child(odd) {
    background-color: var(--gm_table_alt_color);
}

.gm_assetitemimage {
    width: 70px;
    height: 70px;
    object-fit: contain;
    background-color: var(--gm_primary_text);
    flex-shrink: 0;
}

.gm_assetitemimage.play {
    background-color: var(--gm_button_primary_color);
    background-image: url(images/gmeplay.png);
    background-size: contain;
    cursor: pointer;
}

.gm_assetitemimage.stop {
    background-color: var(--gm_button_primary_color);
    background-image: url(images/gmestop.png);
    background-size: contain;
    cursor: pointer;
}

.gm_assetitemright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 10px;
}

.gm_assetitemname {
    min-width: 0px;
    padding: 10px;
    border-radius: 4px;
    font-family: 'futurept_book';
    font-size: 16px;
    text-align: left;
}

.gm_assetitemdown {
    display: flex;
    justify-content: space-between;
}

.gm_assetitemdetail {
    flex-grow: 1;
    color: var(--gm_secondary_text);
}

.gm_configitemlabel {
    flex-basis: 0;
    flex-grow: 0.75;
}

.gm_listiteminput::-webkit-outer-spin-button,
.gm_listiteminput::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.gm_listiteminput[type=number] {
    width: 100px;
    text-align: right;
    appearance: textfield;
    -moz-appearance: textfield;
}

.gm_bartabs::after {
    /* box-shadow: 0px 10px violet; */
    /* content: ''; */
    z-index: 100000;
    width: 100%;
}

#gmdb_modelist.empty {
    justify-content: center;
    align-items: center;
}

#gmdb_searchbox {
    position: absolute;
    right: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 0px 10px;
    align-items: flex-start;
}

#gmdb_searchbutton {
    padding: 0px 20px;
    margin-left: 10px;
}

#gmdb_searchinput {
    font-family: 'futurept_b1';
    text-align: center;
    height: 21px;
}

.gmdb_modeitem:hover {
    background-color: var(--gm_table_hover_color);
    cursor: pointer;
}

.gm_dbitemdetail {
    color: var(--gm_secondary_text);
}

.gm_dbitemname {
    font-family: 'futurept_demi';
}

.gm_dbitemdescription {
    word-break: break-word;
    margin-top: 10px;
}

.gm_dbitemimage {
    width: 256px;
    height: 192px;
    object-fit: contain;
    background-color: var(--gm_primary_background);
    flex-shrink: 0;
    margin-right: 15px;
    transition: background-color 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gm_dbitemimage.has_image {
    background-color: black;
}

.gm_dbitemimage img {
    width: 100%;
    height: 100%;
}

.gm_dbnoimageicon {
    width: 72px;
    height: 72px;
    background-image: url(images/gmenoimage.png);
    background-size: 72px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    opacity: 0.5;
    mix-blend-mode: exclusion;
}

/* BLOCKLY CLASSES */

.gmBlocklyError > .blocklyPath {
    filter: drop-shadow(0px 0px 8px #f22b);
    stroke: rgb(255, 51, 51);
    stroke-width: 2px;
}

.gm_blockly_toolbox_button_bg {
    position: absolute;
    width: 110px;
    height: 30px;
    pointer-events: none;
    z-index: -1;
    margin-top: 3px;
}

.blocklyToolboxCategory[aria-expanded] > .gm_blockly_toolbox_button_bg {
    filter: none !important;
}

.blocklyToolboxCategory .blocklyToolboxCategory .gm_blockly_toolbox_button_bg {
    margin-top: 0;
}

.blocklyTreeSeparator {
    visibility: hidden;
}

.blocklyToolboxDiv {
    background-color: var(--gm_primary_background);
}

.blocklyToolboxDiv > .blocklyToolboxContents {
    padding: 4px 10px 12px 0;
}

.blocklyTreeRow {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0 0 0 / 63%) 1px 1px 5px -2px;
    width: 110px;
    height: 30px;
    padding-left: 8px !important;
    margin-top: 3px;
    margin-bottom: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.blocklyToolboxCategory .blocklyToolboxCategory .blocklyTreeRow {
    margin-top: 0;
    box-shadow: none;
}

.blocklyToolboxCategory > .blocklyToolboxContents {
    display: none;
}

.blocklyTreeIcon {
    width: 0px;
    height: 0px;
}

.blocklyTreeLabel {
    color: #fff;
    font: 15px 'futurept_b1';
}

.blocklyMainBackground {
    stroke: none !important;
}

.blocklyToolboxDiv::-webkit-scrollbar {
    background: var(--gm_primary_background);
    width: 10px;
}
  
.blocklyToolboxDiv::-webkit-scrollbar-thumb {
    background: var(--gm_scrollbar_thumb);
    border-radius: 50px;
}

path.blocklyPath.blockly-ws-search-highlight {
    fill: black;
    fill-opacity: 1;
}

.blockly-ws-search button {
    width: 20px;
}

.fieldColourSliderLabel {
    font-family: 'futurept_b1';
}

.fieldColourSliderContainer > hr,
.fieldColourSliderContainer > .fieldColourEyedropper {
    display: none;
}

.gm_blockly_label_2 > .blocklyFlyoutLabelText {
    transform: translate(0px, -20px);
}

.gm_blockly_label_3 > .blocklyFlyoutLabelText {
    transform: translate(0px, -40px);
}

.gm_blockly_label_header > .blocklyFlyoutLabelText {
    text-decoration: underline;
}

.goog-menuitem {
    font-family: 'futurept_b1';
    font-size: 14px;
}

/* INGAME LOG BOX */

#gm_logbox {
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    top: 30px;
    left: 30px;
    width: 422px;
    height: 128px;
    overflow: hidden;
    visibility: hidden;
    font-family: "futurept_book";
    font-size: 19px;
    color: #ffffff;
    text-shadow: 1px 1px black;
}

#gm_logbox:hover, #gm_logbox:active {
    background-color: #00000055;
    resize: both;
}

#gm_logboxtitle {
    font-size: 14px;
    text-align: center;
    width: 100%;
}

#gm_logbox:hover *, #gm_logbox:active * {
    visibility: unset;
}

#gm_logboxcontent {
    overflow: hidden;
    overflow-wrap: break-word;
    user-select: text;
    width: 100%;
    height: calc(100% - 34px);
}

#gm_logboxclose {
    top: 7px;
    right: 7px;
    background-color: #00000055;
    cursor: pointer;
    visibility: hidden;
}

#gm_logboxclose:hover {
    background-color: #aaaaaa55;
}